<!DOCTYPE html>
<html>
<head>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery.dataTables.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,200,100,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css" />

	<title> WOL </title>
</head>
<body>
	<h1><img class="wollogo" src="/static/WOLlogo.png">WOL</h1>
	<h2> the owl of wol street </h2>

	<div class="chart-container text-center">
		<label for = "sentimentchart"> Sentiment Analysis <br>
			<canvas id="sentimentchart" width="600" height="400"></canvas> 
		</label>
		<label for = "stockchart"> Stock Price <br>
			<canvas id="stockchart" width="600" height="400"></canvas>
		</label> 
	</div>


	<!-- <form method="get">
		<input type="text" name="startDate" placeholder="start date" />
		<input type="text" name="endDate" placeholder="end date" />
		<button>Submit</button>
	</form> -->
	<div class="container">
		<table id="analysis-table">
			<thead>
				<tr>
					<th> Stock </th>
					<th> Sentiment </th>
					<th> Probability </th>
					<th> Current Stock Price </th>
				</tr>
			</thead>
		</table>
	</div>
	
	<script src="/static/jquery-1.11.3.min.js"></script>
	<script src="/static/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
	<script src='/static/Chart.min.js'></script>
	<script src="/static/Chart.Scatter-master/Chart.Scatter.js"></script>
	<script src="/static/DateFormat.js"></script>
	<script src="/static/main.js"></script>	

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</div>
</body>
</html>


