<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="

	/static/jquery.dataTables.min.css" />

	<title> WOL </title>
</head>
<body>
	<h1> WOL Analysis </h1>

	<canvas id="sentimentchart" width="600" height="400"></canvas> 
	<canvas id="stockchart" width="600" height="400"></canvas> 


	<form method="get">
		<input type="text" name="startDate" placeholder="start date" />
		<input type="text" name="endDate" placeholder="end date" />
		<button>Submit</button>
	</form>
	<table id="analysis-table">
		<thead>
			<tr>
				<th> Stock </th>
				<th> Sentiment </th>
				<th> Probability </th>
				<th> Current Stock Price </th>
			</tr>
		</thead>
	</table>
	
	<script src="/static/jquery-1.11.3.min.js"></script>
	<script src="/static/jquery.dataTables.min.js"></script>
	<script
	src="
	//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
	<script src='/static/Chart.min.js'></script>
	<script src="/static/Chart.Scatter-master/Chart.Scatter.js"></script>
	<script src="/static/main.js"></script>

</body>
</html>


